{% extends "posts/base.html" %}

{% block title %}Michael Okoloba's | Categories{% endblock%}

    {% block main_right %}
     
  		<section>
            <header>
                <h3 class="article_title"><a href="{% url 'posts:all_categories' %}">All Categories</a></h3>
            </header>
            <ul class="list-unstyled">
                {% for category in categories %}
                    {% if category.post_set.count > 0 %}
                        <li>{{ category.category_name}}</li>
                    {% endif%}
                {% endfor %}
            </ul>
        </section>

        <section>
            <header>
                <h3 class="article_title"><a href="#">Recent Posts</a></h3>
            </header>
            <ul class="list-unstyled">
                {% for rp in posts %}
                    <li>{{ rp }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <header>
                <h3 class="article_title"><a href="#">Popular Posts</a></h3>
            </header>
            <ul class="list-unstyled">
                <li>Preventing SQL Injection</li>
                <li>Social Engineering Prevention</li>
            </ul>
        </section>

       {% endblock %}

   