{% extends "posts/base.html" %}

{% block title %}{{post.title}} | Michael Okoloba's Blog{% endblock%}

    {% block article %}

    <section class="article_content">  <!-- Article content section begin --> 
        
        <header class="article_header">
        <h6 class="date">{{post.created_at.date}}
            <span class="category"> &mdash; {{post.category}} &mdash; </span>
            <span class="comments"> comments: {{ post.comment_set.count }}</span>
        </h6>
        <h1 class="article_title">{{post.title}}</h1>
    </header>
        <p> 
            {{post.body|safe}}
        </p>
        
        {% if post.comment_set.count > 1 %}
        	<h1>{{ post.comment_set.count }} comments</h1>
        {% else %}
        	<h1>{{ post.comment_set.count }} comment</h1>

        {% endif %}

        {% for comment in post.comment_set.all %}
        <div>
        	{{ comment.created_at }}
            <p>{{ comment.body }}</p>
        </div>
        {% endfor %}
    </section> <!-- Article content end -->

    {% endblock %}