  GNU nano 2.0.6                        File: .gitignore                                            Modified  

*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
settings.py
.DS_Store
